@import "tailwindcss";

@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  src: url("./assets/Roboto-VariableFont_wdth,wght.ttf") format("ttf");
}

@theme {
  --font-roboto: Roboto, sans-serif;
  --animate-fade-in: fade-in 1s ease-in-out;
  --animate-fade-out: fade-out 1s ease-in-out;
  --animate-fade-repeat: fade-repeat 1.5s step-start infinite;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fade-repeat {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}
